# Bundler cache
.bundle
vendor

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Obsidian configurations
.obsidian/

# Ulysses configurations
.Ulysses-*.plist

# Local Ulysses exports and MyBlog publishing receipts
.myblog/
